{%extends 'base.html'%}
{%block content%}

<style>

.body-wrap {
  min-height: 700px;
}

.body-wrap {
  position: relative;
  z-index: 0;
}

.body-wrap:before,
.body-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 260px;
}

.body-wrap:after {
  top: auto;
  bottom: 0;
}

</style>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Scaledesk</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/task/">Tasks</a></li>
        <li><a href="/viewtasks/">View Tasks</a></li>
        <li><a href="/profile">Profile</a></li>
        <li class="dropdown" class="active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a  class="reload_it" href="/dashboard/#menu1">Daily tasks of all user</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu2">List of Users</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu3-1">Approved Tasks</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu3-2">Pending Tasks</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu3-3">Rejected Tasks</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu4">Project Report</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu5">WorkType Report</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu6">Toal Project Hours</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu7">User Report</a></li>
          </ul>
          <script type="text/javascript">
            $("a").click((event)=>{
              target=$(event.target)
              if(target.attr("class")=="reload_it")
              window.location.reload();
            })
          </script>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{user}}</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="tab-content">
  <h2>Your <small>DashBoard</small></h2>
  <div id="menu1" class="tab-pane fade">
    <h3>Task Details of all users</h3>
    <div class="container">
      <table id="example7" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Project</th>
                    <th>WorkType</th>
                    <th>Assigned By</th>
                    <th>Created At</th>
                    <th>Task Date</th>
                </tr>
            </thead>
              <tbody>
                {% for task in tasks %}
                  <tr>
                      <td>{{task.user}}</td>
                      <td>{{task.name}}</td>
                      <td>{{task.description}}</td>
                      <td>{{task.starttime}}</td>
                      <td>{{task.endtime}}</td>
                      <td>{{task.project}}</td>
                      <td>{{task.worktype}}</td>
                      <td>{{task.assigned_by}}</td>
                      <td>{{task.created_at}}</td>
                      <td>{{task.taskdate}}</td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        <script>
        $(document).ready(function() {
            $('#example7').DataTable();
        } );
        </script>
    </div>
  </div>


  <div id="menu2" class="tab-pane fade">
    <h3>List of Users</h3>
    <div class="container">
      <table id="example1" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Name</th>
                    <th>Employee Id</th>
                    <th>Address</th>
                    <th>Pan Number</th>
                    <th>Position</th>
                </tr>
            </thead>
              <tbody>
                {% for mem in member %}
                  <tr>
                      <td>{{mem.user}}</td>
                      <td>{{mem.name}}</td>
                      <td>{{mem.emp_id}}</td>
                      <td>{{mem.address}}</td>
                      <td>{{mem.pan_no}}</td>
                      <td>{{mem.position}}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
        <script>
        $(document).ready(function() {
            $('#example1').DataTable();
        } );
        </script>
    </div>
  </div>


  <div id="menu3-1" class="tab-pane fade">
    <h3>Tasks Approved</h3>
    <div class="container">
      <table id="example2" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                  <th>User</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Duration</th>
                  <th>Project</th>
                  <th>WorkType</th>
                  <th>Assigned By</th>
                  <th>Created At</th>
                  <th>Status</th>
                </tr>
            </thead>
              <tbody>
                {% for taska in taskapproved %}
                  <tr>
                    <td>{{taska.user}}</td>
                    <td>{{taska.name}}</td>
                    <td>{{taska.description}}</td>
                    <td>{{taska.starttime}}</td>
                    <td>{{taska.endtime}}</td>
                    <td>{{taska.duration}}</td>
                    <td>{{taska.project}}</td>
                    <td>{{taska.worktype}}</td>
                    <td>{{taska.assigned_by}}</td>
                    <td>{{taska.taskdate}}</td>
                    <td>Approved</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
        <script>
        $(document).ready(function() {
            $('#example2').DataTable();
        } );
        </script>
    </div>
  </div>

  <div id="menu3-2" class="tab-pane fade">
    <h3>Tasks pending for approval</h3>
    <div class="container">
      <table id="example8" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                  <th>User</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Project</th>
                  <th>WorkType</th>
                  <th>Assigned By</th>
                  <th>Created At</th>
                  <th>Status</th>
                  <th colspan="2">Update</th>
                </tr>
            </thead>
              <tbody>
                {% for taskp in taskpending %}
                  <tr>
                    <td>{{taskp.user}}</td>
                    <td>{{taskp.name}}</td>
                    <td>{{taskp.description}}</td>
                    <td>{{taskp.starttime}}</td>
                    <td>{{taskp.endtime}}</td>
                    <td>{{taskp.project}}</td>
                    <td>{{taskp.worktype}}</td>
                    <td>{{taskp.assigned_by}}</td>
                    <td>{{taskp.taskdate}}</td>
                    <td>Pending</td>
                    <td>
                      <div>
                        <a href="/approved/{{taskp.id}}">Approve</a>
                      </div>
                    </td>
                    <td>
                      <div>
                        <a href="/rejected/{{taskp.id}}">Reject</a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
          </tbody>
        </table>
        <script>
        $(document).ready(function() {
            $('#example8').DataTable();
        } );
        </script>
    </div>
  </div>

  <div id="menu3-3" class="tab-pane fade">
    <h3>Tasks rejected</h3>
    <div class="container">
      <table id="example10" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                  <th>User</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Project</th>
                  <th>WorkType</th>
                  <th>Assigned By</th>
                  <th>Created At</th>
                  <th>Status</th>
                  <th>Update</th>
                </tr>
            </thead>
              <tbody>
                {% for taskp in taskrejected %}
                  <tr>
                    <td>{{taskp.user}}</td>
                    <td>{{taskp.name}}</td>
                    <td>{{taskp.description}}</td>
                    <td>{{taskp.starttime}}</td>
                    <td>{{taskp.endtime}}</td>
                    <td>{{taskp.project}}</td>
                    <td>{{taskp.worktype}}</td>
                    <td>{{taskp.assigned_by}}</td>
                    <td>{{taskp.taskdate}}</td>
                    <td>Rejected</td>
                    <td>
                      <div>
                        <a href="/approved/{{taskp.id}}">Approve</a>
                      </div>
                    </td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
        <script>
        $(document).ready(function() {
            $('#example10').DataTable();
        } );
        </script>
    </div>
  </div>


  <div id="menu4" class="tab-pane fade" style=" height:30vh; width:50vw">
    <h3>Project Report</h3>
    <div class="container">
      <canvas id="myChart" width="100px" height="100px"></canvas>
        <script>
        var proj=[];
        var dat=[];
        {% for p in q1 %}
          proj.push('{{p.name}}')
          dat.push('{{p.duration}}')
        {% endfor %}
          var ctx = document.getElementById("myChart");
          var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: proj,
                datasets: [{
                  label: '# of hours',
                  data: dat,
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(156, 102, 255, 0.2)',
                    'rgba(253, 159, 64, 0.2)',
                    'rgba(150, 102, 255, 0.2)',
                    'rgba(250, 159, 64, 0.2)',
                    'rgba(151, 102, 255, 0.2)',
                    'rgba(254, 159, 64, 0.2)',
                    'rgba(154, 102, 255, 0.2)',
                    'rgba(249, 159, 64, 0.2)',
                    'rgba(144, 102, 255, 0.2)',
                    'rgba(241, 159, 64, 0.2)',
                    'rgba(142, 102, 255, 0.2)',
                    'rgba(242, 159, 64, 0.2)',
                    'rgba(146, 102, 255, 0.2)',
                    'rgba(248, 159, 64, 0.2)',
                    'rgba(122, 102, 255, 0.2)',
                    'rgba(222, 159, 64, 0.2)',
                    'rgba(132, 102, 255, 0.2)',
                    'rgba(232, 159, 64, 0.2)',
                    'rgba(192, 102, 255, 0.2)',
                    'rgba(292, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(156, 102, 255, 1)',
                    'rgba(253, 159, 64, 1)',
                    'rgba(150, 102, 255, 1)',
                    'rgba(250, 159, 64, 1)',
                    'rgba(151, 102, 255, 1)',
                    'rgba(254, 159, 64, 1)',
                    'rgba(154, 102, 255, 1)',
                    'rgba(249, 159, 64, 1)',
                    'rgba(144, 102, 255, 1)',
                    'rgba(241, 159, 64, 1)',
                    'rgba(142, 102, 255, 1)',
                    'rgba(242, 159, 64, 1)',
                    'rgba(146, 102, 255, 1)',
                    'rgba(248, 159, 64, 1)',
                    'rgba(122, 102, 255, 1)',
                    'rgba(222, 159, 64, 1)',
                    'rgba(132, 102, 255, 1)',
                    'rgba(232, 159, 64, 1)',
                    'rgba(192, 102, 255, 1)',
                    'rgba(292, 159, 64, 1)'
          ],
          borderWidth: 1
      }]
  },
  options: {}
  });
    </script>
    </div>
  </div>


  <div id="menu5" class="tab-pane fade" style=" height:30vh; width:50vw">
    <h3>Work Type Report</h3>
    <div class="container1">
      <canvas id="myChart1" width="250px" height="250px"></canvas>
        <script>
        var taskwork=[];
        var workdat=[];
        {% for p in q3 %}
          taskwork.push('{{p.name}}')
          workdat.push('{{p.duration}}')
        {% endfor %}
          var ctx = document.getElementById("myChart1");
          var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: taskwork,
                datasets: [{
                  label: '# of hours',
                  data: workdat,
                  backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(156, 102, 255, 0.2)',
                    'rgba(253, 159, 64, 0.2)',
                    'rgba(150, 102, 255, 0.2)',
                    'rgba(250, 159, 64, 0.2)',
                    'rgba(151, 102, 255, 0.2)',
                    'rgba(254, 159, 64, 0.2)',
                    'rgba(154, 102, 255, 0.2)',
                    'rgba(249, 159, 64, 0.2)',
                    'rgba(144, 102, 255, 0.2)',
                    'rgba(241, 159, 64, 0.2)',
                    'rgba(142, 102, 255, 0.2)',
                    'rgba(242, 159, 64, 0.2)',
                    'rgba(146, 102, 255, 0.2)',
                    'rgba(248, 159, 64, 0.2)',
                    'rgba(122, 102, 255, 0.2)',
                    'rgba(222, 159, 64, 0.2)',
                    'rgba(132, 102, 255, 0.2)',
                    'rgba(232, 159, 64, 0.2)',
                    'rgba(192, 102, 255, 0.2)',
                    'rgba(292, 159, 64, 0.2)'
                  ],
                  borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(156, 102, 255, 1)',
                    'rgba(253, 159, 64, 1)',
                    'rgba(150, 102, 255, 1)',
                    'rgba(250, 159, 64, 1)',
                    'rgba(151, 102, 255, 1)',
                    'rgba(254, 159, 64, 1)',
                    'rgba(154, 102, 255, 1)',
                    'rgba(249, 159, 64, 1)',
                    'rgba(144, 102, 255, 1)',
                    'rgba(241, 159, 64, 1)',
                    'rgba(142, 102, 255, 1)',
                    'rgba(242, 159, 64, 1)',
                    'rgba(146, 102, 255, 1)',
                    'rgba(248, 159, 64, 1)',
                    'rgba(122, 102, 255, 1)',
                    'rgba(222, 159, 64, 1)',
                    'rgba(132, 102, 255, 1)',
                    'rgba(232, 159, 64, 1)',
                    'rgba(192, 102, 255, 1)',
                    'rgba(292, 159, 64, 1)'
          ],
          borderWidth: 1
      }]
  },
  options: {}
  });
    </script>
    </div>
  </div>

  <div id="menu6" class="tab-pane fade">
    <h3>Total Project Hours for each project:</h3>
    <div class="container">
      <table id="example3" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                  <th>Project Name</th>
                  <th>Total Duration</th>
                </tr>
            </thead>
              <tbody>
              {% for taskp in data %}
                  <tr>
                    <td>{{taskp.name}}</td>
                    <td>{{taskp.duration}}</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
        <script>
        $(document).ready(function() {
            $('#example3').DataTable();
        } );
        </script>
    </div>
  </div>

    <div id="menu7" class="tab-pane fade">
      <h3>User Report:</h3>
      <form action="/dashboard/#menu7" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Choose the date for which the report should be generated:</label>
          <p align="right">Date: <input type="text" id="delivery_date"  name="date"> <input type="submit" value="submit" name="submit"></p>
        </div>
      </form>

      <div class="container" style=" height:30vh; width:50vw">
        <h3>Date:{{delivery_date}}</h3>
        <canvas id="myChart2" width="100px" height="100px"></canvas>
          <script>
          var memname=[];
          var memhour=[];
          {% for q in q7 %}
            memname.push('{{q.name}}')
            memhour.push('{{q.duration}}')
          {% endfor %}
          var ctx = document.getElementById("myChart2").getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: memname,
                  datasets: [{
                    label: '# of hours',
                    data: memhour,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(156, 102, 255, 0.2)',
                        'rgba(253, 159, 64, 0.2)',
                        'rgba(150, 102, 255, 0.2)',
                        'rgba(250, 159, 64, 0.2)',
                        'rgba(151, 102, 255, 0.2)',
                        'rgba(254, 159, 64, 0.2)',
                        'rgba(154, 102, 255, 0.2)',
                        'rgba(249, 159, 64, 0.2)',
                        'rgba(144, 102, 255, 0.2)',
                        'rgba(241, 159, 64, 0.2)',
                        'rgba(142, 102, 255, 0.2)',
                        'rgba(242, 159, 64, 0.2)',
                        'rgba(146, 102, 255, 0.2)',
                        'rgba(248, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(156, 102, 255, 1)',
                        'rgba(253, 159, 64, 1)',
                        'rgba(150, 102, 255, 1)',
                        'rgba(250, 159, 64, 1)',
                        'rgba(151, 102, 255, 1)',
                        'rgba(254, 159, 64, 1)',
                        'rgba(154, 102, 255, 1)',
                        'rgba(249, 159, 64, 1)',
                        'rgba(144, 102, 255, 1)',
                        'rgba(241, 159, 64, 1)',
                        'rgba(142, 102, 255, 1)',
                        'rgba(242, 159, 64, 1)',
                        'rgba(146, 102, 255, 1)',
                        'rgba(248, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
      },
      options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
      }
      });
      </script>


      </div>
      </div>

      </script>
      <script type="text/javascript">
          if (location.hash) {
              $(".active").removeClass("active")
              $(location.hash).addClass("active in");
          }
      </script>
<!--
      <script type="text/javascript">
        $('#menu1').removeClass("active");
        $('#menu7').addClass("active in");
      </script> -->

      <script>
      $('#delivery_date').datepicker({
                        dateFormat: 'yy-mm-dd',
                        changeMonth: true,
                        changeYear: true,
                        onSelect:  function(dateText, inst) {
                        $(this).attr('value',dateText);
                        }
                });
    </script>

    <script>
    $('ul.nav li.dropdown').hover(function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
    </script>

{%endblock%}
