{%extends 'base.html'%}
{%block content%}

<style>

.body-wrap {
  min-height: 700px;
}

.body-wrap {
  position: relative;
  z-index: 0;
}

.body-wrap:before,
.body-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 260px;
}

.body-wrap:after {
  top: auto;
  bottom: 0;
}

</style>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Scaledesk</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/task/">Tasks</a></li>
        <li><a href="/viewtasks/">View Tasks</a></li>
        {% if not staff %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Task Status <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/approvedtaskuser/">Approved</a></li>
            <li class="divider"></li>
            <li><a href="/pendingtaskuser/">Pending</a></li>
            <li class="divider"></li>
            <li><a href="/rejectedtaskuser/">Rejected</a></li>
            <li class="divider"></li>
          </ul>
        </li>
        {% endif %}
        {% if staff %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/userstask/">Daily tasks of all user</a></li>
            <li class="divider"></li>
            <li><a href="/userslist/">List of Users</a></li>
            <li class="divider"></li>
            <li><a href="/approvedtasks/">Approved Tasks</a></li>
            <li class="divider"></li>
            <li><a href="/pendingtasks/">Pending Tasks</a></li>
            <li class="divider"></li>
            <li><a href="/rejectedtasks/">Rejected Tasks</a></li>
            <li class="divider"></li>
            <li><a href="/projectreport/">Project Report</a></li>
            <li class="divider"></li>
            <li><a href="/worktypereport/">WorkType Report</a></li>
            <li class="divider"></li>
            <li><a href="/totalprojecthours/">Toal Project Hours</a></li>
            <li class="divider"></li>
            <li><a href="/userreport/">User Report</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile/"><span class="glyphicon glyphicon-user"></span>{{user}}</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<h2>Tasks rejected</h2>
<div class="container">
  <table id="example10" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>User</th>
              <th>Name</th>
              <th>Description</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Duration</th>
              <th>Project</th>
              <th>WorkType</th>
              <th>Assigned By</th>
              <th>Created At</th>
              <th>Status</th>
            </tr>
        </thead>
          <tbody>
            {% for taskp in taskrejected %}
              <tr>
                <td>{{taskp.user}}</td>
                <td>{{taskp.name}}</td>
                <td>{{taskp.description}}</td>
                <td>{{taskp.starttime}}</td>
                <td>{{taskp.endtime}}</td>
                <td>{{taskp.duration}}</td>
                <td>{{taskp.project}}</td>
                <td>{{taskp.worktype}}</td>
                <td>{{taskp.assigned_by}}</td>
                <td>{{taskp.taskdate}}</td>
                <td>Rejected</td>
                <td>
                  <div>
                    <a href="/approved/{{taskp.id}}">Approve</a>
                  </div>
                </td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
    <script>
    $(document).ready(function() {
        $('#example10').DataTable();
    } );
    </script>
</div>

<script>
$('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
</script>

{%endblock%}
