{%extends 'base.html'%}
{%block content%}

<style>

.body-wrap {
  min-height: 700px;
}

.body-wrap {
  position: relative;
  z-index: 0;
}

.body-wrap:before,
.body-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 260px;
}

.body-wrap:after {
  top: auto;
  bottom: 0;
}

</style>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Scaledesk</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li class="active"><a href="/task/">Tasks</a></li>
        <li><a href="/viewtasks/">View Tasks</a></li>
        <li><a href="/profile">Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a  class="reload_it" href="/dashboard/#menu2">List of Users</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu3-1">Approved Tasks</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu1">Daily tasks of all user</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu3-2">Pending Tasks</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu3-3">Rejected Tasks</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu4">Project Report</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu5">WorkType Report</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu6">Toal Project Hours</a></li>
            <li class="divider"></li>
            <li><a  class="reload_it" href="/dashboard/#menu7">User Report</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>{{user}}</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<h2>Add <small>Tasks</small></h2>

<div class="container">
  <form class="" action="task.html" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Enter the task name" value="{{task.name}}">

    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" name="description" class="form-control" id="description" placeholder="Enter the task description" value="{{task.description}}">

    </div>

    <div class="form-group">
      <label for="starttime">Start Time:(In 24-hour format)</label>
      <input type="time" name="starttime" class="form-control" id="starttime" placeholder="Enter the start time of task" value="{{task.starttime}}">

    </div>

    <div class="form-group">
      <label for="endtime">End Time:(In 24-hour format)</label>
      <input type="time" name="endtime" class="form-control" id="endtime" placeholder="Enter the end time of task" value="{{task.endtime}}">

    </div>

    <div class="form-group">
      <label for="project">Select Project:</label>
      <select class="form-control" id="project" name="project">
        <option value="">select project</option>
        {% for project in projects %}
        <option value="{{project.id}}">{{project.name}}</option>
        {% endfor %}
      </select>

    </div>

    <div class="form-group">
      <label for="worktype">Select Work Type:</label>
      <select class="form-control" id="worktype" name="worktype">
        <option value="">select worktype</option>
        {% for work in worktype %}
        <option value="{{work.id}}">{{work.name}}</option>
        {% endfor %}
      </select>

    </div>

    <div class="form-group">
      <label for="assigned_by">Assigned By:</label>
      <select class="form-control" id="assigned_by" name="assigned_by">
        <option value="">task assigned by</option>
        {% for assign in assigned_by %}
        <option value="{{assign.id}}">{{assign.username}}</option>
        {% endfor %}
      </select>

    </div>


  </div>


    <button type="submit" name="Add Task" class="btn btn-primary">Add Task</button>

    </form>
    </div>

    <script>
    $('ul.nav li.dropdown').hover(function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
    </script>

{%endblock%}
