{%extends 'base.html'%}
{%block content%}
{% load staticfiles %}


<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/about/" class="simple-text">
                    Scaledesk
                </a>
            </div>

            <ul class="nav">
                <li>
                  {% if staff %}
                    <a href="/staff/">
                  {% else %}
                    <a href="/nonstaff/">
                  {% endif %}
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/profile/">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/task/">
                        <i class="ti-view-list-alt"></i>
                        <p>Add Task</p>
                    </a>
                </li>
                <li>
                    <a href="/viewtasks/">
                        <i class="ti-view-list-alt"></i>
                        <p>Task List</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Task List</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-user"></i>
																			<p>{{user}}</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="ti-close"></i>
                                <p>Log Out</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Task</h4>
                            </div>
                            <div class="content table-responsive table-full-width" style="overflow:scroll;">
                              <form class="" action="task.html" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="name">Name:</label>
                                  <input type="text" name="name" class="form-control border-input" id="name" placeholder="Enter the task name" value="{{task.name}}">

                                </div>

                                <div class="form-group">
                                  <label for="description">Description:</label>
                                  <input type="text" name="description" class="form-control border-input" id="description" placeholder="Enter the task description" value="{{task.description}}">

                                </div>

                                <div class="form-group">
                                  <label for="starttime">Start Time:(In 24-hour format)</label>
                                  <input type="time" name="starttime" class="form-control border-input" id="starttime" onchange="calculate_duration()" placeholder="Enter the start time of task" value="{{task.starttime}}">

                                </div>

                                <div class="form-group">
                                  <label for="endtime">End Time:(In 24-hour format)</label>
                                  <input type="time" name="endtime" class="form-control border-input" id="endtime" onchange="calculate_duration()" placeholder="Enter the end time of task" value="{{task.endtime}}">

                                </div>

                                <div class="form-group">
                                  <label for="duration">Duration:</label>
                                  <input type="number" class="form-control border-input" name="duration" id="diff" readonly>

                                </div>

                                <div class="form-group">
                                  <label for="project">Select Project:</label>
                                  <select class="form-control border-input" id="project" name="project">
                                    <option value="">select project</option>
                                    {% for project in projects %}
                                    <option value="{{project.id}}">{{project.name}}</option>
                                    {% endfor %}
                                  </select>

                                </div>

                                <div class="form-group">
                                  <label for="worktype">Select Work Type:</label>
                                  <select class="form-control border-input" id="worktype" name="worktype">
                                    <option value="">select worktype</option>
                                    {% for work in worktype %}
                                    <option value="{{work.id}}">{{work.name}}</option>
                                    {% endfor %}
                                  </select>

                                </div>

                                <div class="form-group">
                                  <label for="assigned_by">Assigned By:</label>
                                  <select class="form-control border-input" id="assigned_by" name="assigned_by">
                                    <option value="">task assigned by</option>
                                    {% for assign in assigned_by %}
                                    <option value="{{assign.id}}">{{assign.username}}</option>
                                    {% endfor %}
                                  </select>

                                </div>


                              </div>


                                <button type="submit" name="Add Task" class="btn btn-primary btn-fill btn-wd">Add Task</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>

                                <li>
                                    <a href="http://www.creative-tim.com">
                                        Creative Tim
                                    </a>
                                </li>
                                <li>
                                    <a href="http://blog.creative-tim.com">
                                       Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.creative-tim.com/license">
                                        Licenses
                                    </a>
                                </li>
                            </ul>
                        </nav>
        				        <div class="copyright pull-right">
                            &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
      </div>
    </div>

    <script>
    $('ul.nav li.dropdown').hover(function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
    }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
    });
    </script>

    <script>

    function calculate_duration() {
      var start = document.getElementById("starttime").value;
      var end = document.getElementById("endtime").value;
      start = start.split(":");
      end = end.split(":");
      var startDate = new Date(0, 0, 0, start[0], start[1], 0);
      var endDate = new Date(0, 0, 0, end[0], end[1], 0);
      var diff = endDate.getTime() - startDate.getTime();
      var hours = Math.floor(diff / 1000 / 60 / 60);
      diff -= hours * 1000 * 60 * 60;
      var minutes = Math.floor(diff / 1000 / 60);
      // while (((hours*60+minutes)>120)||((hours*60+minutes)<0)){
      // alert("Task duration can't be more than 120 minutes(2 Hours)");
      // }
      document.getElementById("diff").setAttribute('value',hours*60+minutes)
    }

    </script>

{%endblock%}
