{%extends 'base.html'%}
{%block content%}
{% load staticfiles %}

<div class="wrapper">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/staff/">DashBoard</a>
      <a href="/profile/">Profile</a>
      <a href="/projectreport/">Project Report</a>
      <a href="/worktypereport/">WorkType Report</a>
    </div>


    <div id="main">
    <!-- <div class="main-panel"> -->
        <nav class="navbar navbar-default" style="background-color:white;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/profile/" class="dropdown-toggle">
                                <i class="ti-user"></i>
								<p>{{user}}</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="ti-close"></i>
                                <p>Log Out</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <form action="/profile/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="image">
                                    <img src="{% static 'assets/media/image/background.jpg' %}" alt="..."/>
                                </div>
                                <div class="content">
                                    <div class="author">
                                        <img class=" avatar border-white" src="/media/image/{{profile.image}}" alt="..."/>
                                        <input type="file" name="myfile" />
                                        <input type="submit" name="submit" value="Upload" />
                                        <h4 class="title">{{profile.name}}<br />
                                        </h4>
                                    </div>
                                    <p class="description text-center">
                                        "I like the way you work it <br>
                                        No diggity <br>
                                        I wanna bag it up"
                                    </p>
                                </div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>12<br /><small>Files</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>2GB<br /><small>Used</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>24,6$<br /><small>Spent</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Documents</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Offer Letter</span>
                                                        <br>
                                                        <div style="text-align: right; cursor: pointer;">
                                                            <button class="btn btn-primary dropdown-toggle" type="button">
                                                                <a target="_blank" href="/media/{{documents.offer_letter}}">Download</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Appointment Letter</span>
                                                        <br>
                                                        <div style="text-align: right; cursor: pointer;">
                                                            <button class="btn btn-primary dropdown-toggle" type="button">
                                                                <a target="_blank" href="/media/{{documents.appointment_letter}}">Download</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Acknowledge</span>
                                                        <br>
                                                        <div style="text-align: right; cursor: pointer;">
                                                            <button class="btn btn-primary dropdown-toggle" type="button">
                                                                <a target="_blank" href="/media/{{documents.acknowledge}}">Download</a>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Increment Letter</span>
                                                        <br>
                                                        <div style="text-align: right; cursor: pointer;" class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                                                            <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                {% for document in  multiple_document %}
                                                                    <li>
                                                                        <a href="/media/{{document.increament_letter}}" target="_blank">
                                                                            {{document.increament_letter}}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Appraisal</span>
                                                        <br>
                                                          <div style="text-align: right; cursor: pointer;" class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                                                            <span class="caret"></span></button>
                                                            <ul class="dropdown-menu">
                                                                {% for document in  multiple_document %}
                                                                    <li>
                                                                        <a href="/media/{{document.appraisal}}" target="_blank">
                                                                            {{document.appraisal}}
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form class="" action="update_profile.html" method="post">
                                  {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Employee Id</label>
                                                <input type="text" class="form-control border-input" id="emp_id" name=emp_id placeholder="Your Employid" disabled value="{{profile.emp_id}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <input type="email" name="email" class="form-control border-input" id="email" placeholder="Enter your email" disabled value={{email}}>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="name" class="form-control border-input" id="name" placeholder="Enter your name" value="{{profile.name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Position</label>
                                                <input type="text" class="form-control border-input" id="pan_no" placeholder="Your Position" name="position" disabled value="{{profile.position}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <textarea name="address" rows="8" cols="80" placeholder="Enter your address" class="form-control border-input">{{profile.address}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Pan Number</label>
                                                <input type="text" class="form-control border-input" id="pan_no" placeholder="Enter your pan no" name="pan_no" value="{{profile.pan_no}}">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Zip code</label>
                                                <input type="text" class="form-control border-input" id="zip_no" placeholder="Enter your zip code no" name="zip_no" value="{{profile.zip_no}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" class="form-control border-input" id="phone_number" placeholder="Enter your phone_number" name="phone_number" value="{{profile.phone_number}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Qualification</label>
                                                <input type="text" class="form-control border-input" id="qualification" placeholder="Enter your qualification" name="qualification" value="{{profile.qualification}}">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Skills</label>
                                                <input type="text" class="form-control border-input" id="skills" placeholder="Enter your skills here" name="skills" value="{{profile.skills}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mainclass">
                                        {% for document1 in profiledocument%}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class='panel panel-default'>
                                                    <div class='panel-heading'>{{document1.documentTitle}}</div>
                                                    <div class='panel-body'><span style="color:blue;">FILE:-</span>{{document1.document}}</div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class='panel panel-default'><div class='panel-body'>
                                                <div id="adddocument"></div>
                                            </div></div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="add">+Document</button>

                                        <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/about/">
                                Scaledesk Web Studio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="/about/">Scaledesk Web Studio</a>
                </div>
            </div>
        </footer>

    </div>
</div>



<script>
    //For getting CSRF token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }

    function cll(){
        console.log("kdjfksd");
        var Documentname = $("#name").val();
        var file = $("#file").val();
        var csrftoken = getCookie('csrftoken');

        $.ajax({
            url : "/userprofiledocument/",
            type : "POST",
            data : { Documentname : Documentname,file: file, csrfmiddlewaretoken: csrftoken},
            success : function(json) {
                $('#adddocument').empty();

                $('.mainclass').append("<div class='row'><div class='col-md-6'><div class='panel panel-default'><div class='panel-heading'>"+Documentname +"</div><div class='panel-body'><span style='color:blue;'>FILE:-</span>"+ file+"</div></div></div></div>")
            },
            error: function(err){
                alert(err);
            }
        });            
    }
</script>



{%endblock%}
