{%extends 'base.html'%}
{%block content%}
{% load staticfiles %}

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/about/" class="simple-text">
                    Scaledesk
                </a>
            </div>

            <ul class="nav">
                <li>
                  {% if staff %}
                    <a href="/staff/">
                  {% else %}
                    <a href="/nonstaff/">
                  {% endif %}
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/profile/">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                  {% if staff %}
                    <a href="/projectreport/">
                        <i class="ti-view-list-alt"></i>
                        <p>Project Report</p>
                    </a>
                    {% else %}
                    <a href="/task/">
                        <i class="ti-view-list-alt"></i>
                        <p>Add Task</p>
                    </a>
                    {% endif %}
                </li>
                <li>
                  {% if staff %}
                    <a href="/worktypereport/">
                        <i class="ti-view-list-alt"></i>
                        <p>WorkType Report</p>
                    </a>
                  {% else %}
                  <a href="/task/">
                      <i class="ti-view-list-alt"></i>
                      <p>Task List</p>
                  </a>
                    {% endif %}
                </li>
                {% if not staff %}
		            <li>
                    <a href="/feedback/">
                        <i class="ti-text"></i>
                        <p>Feedback</p>
                    </a>
                </li>
                {% endif %}
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-user"></i>
																			<p>{{user}}</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <i class="ti-close"></i>
                                <p>Log Out</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{% static 'assets/img/background.jpg' %}" alt="..."/>
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class=" avatar border-white" src="{% static 'assets/img/faces/face-2.jpg' %}" alt="..."/>
                                  <h4 class="title">{{profile.name}}<br />
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    "I like the way you work it <br>
                                    No diggity <br>
                                    I wanna bag it up"
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>12<br /><small>Files</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>2GB<br /><small>Used</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>24,6$<br /><small>Spent</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Documents</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Offer Letter</span>
                                                        <br>
                                                        <div style="text-align: right; cursor: pointer;"><a target="_blank" href="/static/assets/media/pdf/1.pdf">Download</a></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Appointment Letter</span>
                                                        <br>
                                                        <div style="text-align: right; cursor: pointer;"><a target="_blank" href="/static/assets/media/pdf/1.pdf">Download</a></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Acknowledge</span>
                                                        <br>
                                                        <div style="text-align: right; cursor: pointer;"><a target="_blank" href="/static/assets/media/pdf/1.pdf">Download</a></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Increment Letter</span>
                                                        <br>
                                                        <div style="text-align: right; cursor: pointer;"><a target="_blank" href="/static/assets/media/pdf/1.pdf">Download</a></div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-1"></div>
                                                    <div class="col-xs-10">
                                                        <span style="font-family: Courier; font-weight: 400;">Appraisal</span>
                                                        <br>
                                                        <div style="text-align: right; cursor: pointer;"><a target="_blank" href="/static/assets/media/pdf/1.pdf">Download</a></div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form class="" action="update_profile.html" method="post">
                                  {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Employee Id</label>
                                                <input type="text" class="form-control border-input" id="emp_id" name=emp_id placeholder="Your Employid" disabled value="{{profile.emp_id}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email address</label>
                                                <input type="email" name="email" class="form-control border-input" id="email" placeholder="Enter your email" disabled value={{email}}>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" name="name" class="form-control border-input" id="name" placeholder="Enter your name" value="{{profile.name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Position</label>
                                                <input type="text" class="form-control border-input" id="pan_no" placeholder="Your Position" name="position" disabled value="{{profile.position}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <textarea name="address" rows="8" cols="80" placeholder="Enter your address" class="form-control border-input">{{profile.address}}</textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Pan Number</label>
                                                <input type="text" class="form-control border-input" id="pan_no" placeholder="Enter your pan no" name="pan_no" value="{{profile.pan_no}}">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Zip code</label>
                                                <input type="text" class="form-control border-input" id="zip_no" placeholder="Enter your zip code no" name="zip_no" value="{{profile.zip_no}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" class="form-control border-input" id="phone_number" placeholder="Enter your phone_number" name="phone_number" value="{{profile.phone_number}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Qualification</label>
                                                <input type="text" class="form-control border-input" id="qualification" placeholder="Enter your qualification" name="qualification" value="{{profile.qualification}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Skills</label>
                                                <input type="text" class="form-control border-input" id="skills" placeholder="Enter your skills here" name="skills" value="{{profile.skills}}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd">Update Profile</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/about/">
                                Scaledesk Web Studio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="/about/">Scaledesk Web Studio</a>
                </div>
            </div>
        </footer>

    </div>
</div>










<!-- <div class="container">
  <h1>Update <small>Your profile</small></h1>
  <form class="" action="index.html" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name" value="{{profile.name}}">

    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" disabled value={{email}}>

    </div>

    <div class="form-group">
      <label for="emp_id">Employee Id:</label>
      <input type="text" class="form-control" id="emp_id" name=emp_id placeholder="Your Employid" disabled value="{{profile.emp_id}}">

    </div>

    <div class="form-group">
      <label for="address">Address:</label>
      <textarea name="address" rows="8" cols="80" placeholder="Enter your address" class="form-control">{{profile.address}}</textarea>

    </div>

    <div class="form-group">
      <label for="pan_no">Pan No:</label>
      <input type="text" class="form-control" id="pan_no" placeholder="Enter your pan no" name="pan_no" value="{{profile.pan_no}}">

    </div>

    <div class="form-group">
      <label for="position">Position:</label>
      <input type="text" class="form-control" id="pan_no" placeholder="Your Position" name="position" disabled value="{{profile.position}}">

    </div>

    <button type="submit" name="Login" class="btn btn-primary">Update Profile</button>
  </form>
</div> -->


{%endblock%}
