{%extends 'base.html'%}
{%block content%}
{% load staticfiles %}


<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/about/" class="simple-text">
                    Scaledesk
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="/profile/">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    <a href="/task/">
                        <i class="ti-view-list-alt"></i>
                        <p>Add Task</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/viewtasks/">
                        <i class="ti-view-list-alt"></i>
                        <p>Task List</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="ti-close"></i>
                        <p>Log Out</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Task List</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-user"></i>
																			<p>{{user}}</p>
                            </a>
                        </li>
						            <li>
                            <a href="#">
								                <i class="ti-settings"></i>
								                      <p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>



        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Your Tasks</h4>
                            </div>
                            <div class="content table-responsive table-full-width" style="overflow:scroll;">
                                <table id="example1" class="table table-striped table-bordered">
                                  <thead>
                                      <tr>
                                          <th>User</th>
                                          <th>Name</th>
                                          <th>Description</th>
                                          <th>Start Time</th>
                                          <th>End Time</th>
                                          <th>Duration</th>
                                          <th>Project</th>
                                          <th>WorkType</th>
                                          <th>Assigned By</th>
                                          <th>Created At</th>
                                          <th>Updated At</th>
                                          <th>Status</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for task in tasks %}
                                      <tr>
                                          <td>{{task.id}}</td>
                                          <td>{{task.name}}</td>
                                          <td>{{task.description}}</td>
                                          <td>{{task.starttime}}</td>
                                          <td>{{task.endtime}}</td>
                                          <td>{{task.duration}}</td>
                                          <td>{{task.project}}</td>
                                          <td>{{task.worktype}}</td>
                                          <td>{{task.assigned_by}}</td>
                                          <td>{{task.created_at}}</td>
                                          <td>{{task.taskdate}}</td>
                                          {% if task.is_pending %}
                                          <td>Pending</td>
                                          {% endif %}
                                          {% if task.is_approved %}
                                          <td>Approved</td>
                                          {% endif %}
                                          {% if task.is_rejected %}
                                          <td>Rejected</td>
                                          {% endif %}
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>

                                <li>
                                    <a href="http://www.creative-tim.com">
                                        Creative Tim
                                    </a>
                                </li>
                                <li>
                                    <a href="http://blog.creative-tim.com">
                                       Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.creative-tim.com/license">
                                        Licenses
                                    </a>
                                </li>
                            </ul>
                        </nav>
        				        <div class="copyright pull-right">
                            &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
      </div>
    </div>

<script>
$(document).ready(function() {
    $('#example1').DataTable();
} );
</script>



{%endblock%}
